#puto-el-que-lee{height: 100vh; color: #000; background-color: #fff;}
#puto-el-que-lee h1 {font-size: 90px; width: 400px; margin-top: 90px;}
#puto-el-que-lee h1:after {content: ""; width: 400px; height: 4px; background-color: black; display: block;}

.glitch {
  color: white;
  font-size: 100px;
  position: relative;
  line-height: 90px;
  width: 781px;
  margin: 30vh auto;
  margin-bottom: 10px;
  text-transform:uppercase; 
}

@keyframes noise-anim {
  0% {
    clip: rect(29px, 9999px, 11px, 0);
  }
  5% {
    clip: rect(33px, 9999px, 26px, 0);
  }
  10% {
    clip: rect(10px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(13px, 9999px, 64px, 0);
  }
  20% {
    clip: rect(18px, 9999px, 89px, 0);
  }
  25% {
    clip: rect(69px, 9999px, 62px, 0);
  }
  30% {
    clip: rect(34px, 9999px, 3px, 0);
  }
  35% {
    clip: rect(75px, 9999px, 28px, 0);
  }
  40% {
    clip: rect(76px, 9999px, 29px, 0);
  }
  45% {
    clip: rect(49px, 9999px, 1px, 0);
  }
  50% {
    clip: rect(73px, 9999px, 68px, 0);
  }
  55% {
    clip: rect(45px, 9999px, 63px, 0);
  }
  60% {
    clip: rect(45px, 9999px, 39px, 0);
  }
  65% {
    clip: rect(94px, 9999px, 8px, 0);
  }
  70% {
    clip: rect(10px, 9999px, 98px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 86px, 0);
  }
  80% {
    clip: rect(43px, 9999px, 57px, 0);
  }
  85% {
    clip: rect(32px, 9999px, 88px, 0);
  }
  90% {
    clip: rect(90px, 9999px, 68px, 0);
  }
  95% {
    clip: rect(82px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(11px, 9999px, 7px, 0);
  }
}
.glitch:after {
  content: attr(data-text);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 2s infinite linear alternate-reverse;
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(34px, 9999px, 19px, 0);
  }
  5% {
    clip: rect(72px, 9999px, 39px, 0);
  }
  10% {
    clip: rect(34px, 9999px, 89px, 0);
  }
  15% {
    clip: rect(36px, 9999px, 45px, 0);
  }
  20% {
    clip: rect(85px, 9999px, 8px, 0);
  }
  25% {
    clip: rect(9px, 9999px, 59px, 0);
  }
  30% {
    clip: rect(26px, 9999px, 49px, 0);
  }
  35% {
    clip: rect(35px, 9999px, 95px, 0);
  }
  40% {
    clip: rect(93px, 9999px, 20px, 0);
  }
  45% {
    clip: rect(44px, 9999px, 34px, 0);
  }
  50% {
    clip: rect(94px, 9999px, 65px, 0);
  }
  55% {
    clip: rect(13px, 9999px, 68px, 0);
  }
  60% {
    clip: rect(99px, 9999px, 16px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 95px, 0);
  }
  70% {
    clip: rect(68px, 9999px, 50px, 0);
  }
  75% {
    clip: rect(60px, 9999px, 25px, 0);
  }
  80% {
    clip: rect(66px, 9999px, 88px, 0);
  }
  85% {
    clip: rect(100px, 9999px, 47px, 0);
  }
  90% {
    clip: rect(31px, 9999px, 93px, 0);
  }
  95% {
    clip: rect(9px, 9999px, 27px, 0);
  }
  100% {
    clip: rect(85px, 9999px, 33px, 0);
  }
}
.glitch:before {
  content: attr(data-text);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: white;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 3s infinite linear alternate-reverse;
}


.container-header {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
        /* glitch elem must have absolute position */
        .glitch-img {position: absolute; width : 100%; height : 100%; top: 0 ; left : 0; background-position:center;  -moz-background-size:cover;-o-background-size:cover;-webkit-background-size:cover;background-size:cover;
        } 
        
.logo{
	content: "";
    display: block;
    background-color: white;
    text-align: left;
    margin-left: 70px;
    margin-top: 20px;
    width: 30px;
    height: 2px;
}
.mid-contentent {
    background-color: #fff;
    height: 100vh;
    color: #000;
}
body{
  background:black;
  font-family: 'Varela', sans-serif;
}

        video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
 background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat;
  background-size: cover;
  transition: 1s opacity;
}
.stopfade { 
   opacity: .5;
}

#polina {
    font-weight: 100;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 2rem;
    width: 90%;
    margin: 2rem auto;
    font-size: 1.2rem;
}
h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-top: 0;
  letter-spacing: .3rem;
}
#polina button { 
  display: block;
  width: 80%;
  padding: .4rem;
  border: none; 
  margin: 1rem auto; 
  font-size: 1.3rem;
  background: rgba(255,255,255,0.23);
  color: #fff;
  border-radius: 3px; 
  cursor: pointer;
  transition: .3s background;
}
#polina button:hover { 
   background: rgba(0,0,0,0.5);
}

a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background:rgba(0,0,0,0.5);
  padding: .5rem;
  transition: .6s background; 
}
header#header {
    height: 100vh;
}
a:hover{
  background:rgba(0,0,0,0.9);
}
@media screen and (max-width: 500px) { 
  div{width:70%;} 
}
@media screen and (max-device-width: 800px) {
  html { background: url(https://thenewcode.com/assets/images/polina.jpg) #000 no-repeat center center fixed; }
  #bgvid { display: none; }
}

nav.menu {
    float: right;
    margin: 35px;
}
.loguito {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    margin: 20px;
}
nav.menu ul li {
    display: inline-block;
    margin-left: 10px;
}
nav.menu ul li a {
    color: #000;
}
#Mis-Laburos {background-color: pink;}
#demo {
position: relative;
max-width: 100%;
width: 100%;
}
img 
{width: 100%;
max-width: 100%;
height: auto;
}
.white-panel {
position: absolute;
background: white;
box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
padding: 10px;
}
.white-panel h1 {
font-size: 1em;
}
.white-panel h1 a {
color: #A92733;
}
.white-panel:hover {
box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
margin-top: -5px;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;
}